{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item blog-card" itemscope itemtype="https://schema.org/CreativeWork">
    <a href="{{ post.url | relative_url }}" rel="permalink" class="blog-card__link">
      
      <div class="blog-card__header">
        <h2 class="blog-card__title" itemprop="headline">{{ title }}</h2>
        <span class="blog-card__date">{{ post.date | date: "%m/%d/%Y" }}</span>
      </div>
      
      {% if post.image %}
      <div class="blog-card__image">
        <img src="{{ post.image | relative_url }}" alt="{{ title }}">
      </div>
      {% endif %}
      
      {% if post.description %}
      <p class="blog-card__description">{{ post.description }}</p>
      {% elsif post.excerpt %}
      <p class="blog-card__description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>
      {% endif %}
      
    </a>
  </article>
</div>
